<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer [opened]="true" class="sidenav" mode="side">
    <div class="logo-container">
      Platz für Logo
    </div>

    <ul class="menu-items">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active-menu-item">
          <mat-icon>fact_check</mat-icon>Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/user" routerLinkActive="active-menu-item">
          <mat-icon>perm_identity</mat-icon>User
        </a>
      </li>
    </ul>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu" (click)="drawer.toggle()">menu</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>