@import "@angular/material/prebuilt-themes/azure-blue.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.router-container {
    padding-left: 56px;
    padding-top: 16px;
}

.mr-16 {
    margin-right: 16px;
}

.full-width {
    width: 100%;
}